# Database URL for connecting from the server during build and test
DATABASE_URL="postgresql://postgres:postgres@localhost:4003/postgres"

# Database URL for connecting from inside Docker containers
DOCKER_DATABASE_URL="postgresql://postgres:postgres@host.docker.internal:4003/postgres" 